.hind-madurai-light {
  font-family: "Hind Madurai", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.hind-madurai-regular {
  font-family: "Hind Madurai", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.hind-madurai-medium {
  font-family: "Hind Madurai", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.hind-madurai-semibold {
  font-family: "Hind Madurai", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.hind-madurai-bold {
  font-family: "Hind Madurai", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.hind-madurai-black {
  font-family: "Hind Madurai", sans-serif;
  font-weight: 900;
  font-style: normal;
}


.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
